@charset "UTF-8";
@media screen and (min-width: 481px) {

	.LinkCategory {
		background-color: #EEEEEF;
		background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E7), to(#F7F7F7)); /* for webkit */
		background: -moz-linear-gradient(top, #E5E5E7, #F7F7F7); /* for firefox 3.6+ */
		border-radius: 10px 10px 0 0;
		float: left;
		margin: 0 1% 0.5em 0;
		padding: 0.5em;
	}
	.LinkCategory h2 {
		background-color: #F7F7F7;
		border-radius: 5px;
		margin: 0 0 0.2em 0;
		padding: 5px;
	}
	
} /* end media screen */

@media print {

	a[href]:after {
		content: " (" attr(href) ") ";
		font-size: 88%;
	}
	.LinkCategory {
		float: none;
		width: 89%
	}

} /* end media print */
